.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

header {
  width: 100%;
  text-align: center;
}

article {
  min-width: 800px;
}